.item-card {
    display: flex;
    flex-direction: column;
    width:fit-content;
  
    

}

.subitem-image {
    aspect-ratio: 0.75;

}

.text-content {
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.type {
    justify-content: space-between;
}