.fooditemcard{
    display: flex;
    flex-direction: column;

    .type {
        align-items: center;
        align-self: center;
        text-align: center;
    }
}

.subitemimage {
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 0.8;
    
}

