
.food-item-card {
  
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 5%;
 margin: 0,auto;
 width:95%;

}

.card {


    .subitem-image {
    }
   
}

.text-content {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;

}



