
.food-item-card {
  
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin: 0,auto;
 width:auto;
 border: 2px solid blue;


 .in {
    width: fit-content;
    border: 2px solid black;
   
}

}

